body {
  font-family: system-ui, Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  margin: 0;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

button {
  padding: 14px 22px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.progress {
  height: 10px;
  background: #334155;
  margin-top: 20px;
  border-radius: 5px;
}

#progressBar {
  height: 10px;
  width: 0%;
  background: #22c55e;
  border-radius: 5px;
}

.score {
  font-size: 64px;
  margin: 20px 0;
  font-weight: bold;
}